<%- include('header', {chainInfo: chainInfo, title: "Error"}); %>

<% if( err != null ) { %>
<h4>Error =(</h4>
This might help:<br/>
<textarea style="width:800px; height:300px">
<%= err; %>
</textarea>
<% } %>
<hr/>
If you need help, file an issue and we'll get on it ASAP!

</body>
</html>
